* {
    box-sizing: border-box;
}

.header {
    position: relative;
    background: lightgray;
    height: 100px;
    width: 100%;
    padding: 10px;
}

.blue-square {
    position: absolute;
    background: #3493DA;
    height: 80px;
    width: 80px;
    margin-left: 15px;
}

.text {
    padding: 40px;
    font-size:24px;
    font-family: sans-serif;
    line-height: 30px;
}

p {
    margin:0px;
}

.rectangle {
    width: 100%;
    height: 120px;
}

.blue {
    background: #2E85C6;
    margin-top:15px;
}

.teal {
    background: #6BCFCF;
}

.green {
    background: #B9D28D;
}

.yellow {
    background: #FFEA00;
}